%head
  = stylesheet_link_tag    'users'
.custom_container{:id => "horse_cont"}
  .container
    .row{:class => "justify-content-center"}
      %h1 Add a horse
    .row{:class => "justify-content-center"}
      .login
        = form_tag do
          .form-group
            = label :horse, :name, 'Name'
            = text_field :horse, 'name', :class => "form-control", :placeholder =>"Horse name"

          .form-group
            = label :horse, :age, 'Age'
            = text_field :horse, 'age', :type => "number", :class => "form-control", :placeholder =>"Age"

          .form-group
            = label :horse, :summary, 'Summary'
            = text_area :horse, 'summary', :class => "form-control", :placeholder =>"Summary"
            
          .form-group
            = file_field :horse, :image

          = submit_tag 'Save Changes', :class => "btn btn-primary"

      = image_tag :image, :alt => "A Jockey", :id => "horse_image"