%head
  = stylesheet_link_tag    'users'

.custom_container{:id => "signup_cont"}
  .container
    .row{:class => "justify-content-center"}
      %h1 Sign up
    .row{:class => "justify-content-center"}
      - if @user.errors.any?
        .alert{:class => "alert-success alert-dismissible fade show", :role => "alert"}
          // Count and list errors if errors when signing up
          %h4= pluralize(@user.errors.count, " errors")
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
          %button{ :type => "button", :class => "close", :'data-dismiss' => "alert", :'aria-label' => "Close" }
            %span{ :aria-hidden =>  "true"}
              &times;
    .row{:class => "justify-content-center"}
      .login
        = form_tag do
          .form-group
            = label :user, :first_name, 'First Name'
            = text_field :user, 'first_name', :class => "form-control", :placeholder =>"First name", :autocomplete => "given-name"

          .form-group
            = label :user, :last_name, 'Last Name'
            = text_field :user, 'last_name', :class => "form-control", :placeholder =>"Last name", :autocomplete => "family-name"

          .form-group
            = label :user, :email, 'Email'
            = text_field :user, 'email', :type => "email", :class => "form-control", :placeholder =>"Email", :autocomplete => "email"

          .form-group
            = label :user, :phone, 'Phone'
            = text_field :user, 'phone', :type => "tel", :class => "form-control", :placeholder =>"Phone number", :autocomplete => "tel"

          .form-group
            = label :user, :password, 'Password'
            = text_field :user, 'password',:type => "password", :class => "form-control", :placeholder =>"Password", :autocomplete => "password"

          .form-group
            = label :user, :password_confirmation, 'Password Confirmation'
            = text_field :user, 'password_confirmation', :type => "password", :class => "form-control", :placeholder =>"Confirm password", :autocomplete => "password"

          = submit_tag 'Save Changes', :class => "btn btn-primary"
      = image_tag "cowboy.png", :alt => "A Wild Horse", :id => "horse_image"
