.container
  %h1 Practices
  - if is_officer?
    = link_to 'Create new practice', practices_new_path, :class => "btn btn-primary"

  <br> <br>
  // Display all practices //
  %table#practices{:class => "table table-responsive-sm table-hover table-striped"}
    %thead{:class => "thead-dark"}
      %tr
        %th{:scope => "col"} Date
        %th{:scope => "col"} Time
        %th{:scope => "col"} Summary
        %th{:scope => "col"} Sign-Up Link
        - if is_officer? # Only show these columns if user is an officer
          %th{:scope => "col"} View Sign Ups
          %th{:scope => "col"} Creator
          %th{:scope => "col"} Edit/Delete
    %tbody
      - @practices.each do |practice|
        %tr
          %td= practice.date.strftime("%B %d, %Y") # reformat date
          %td= practice.time.strftime("%I:%M %p") # reformat time display
          %td= practice.summary
          %td= link_to "Sign Up", assignments_new_path(p: practice) # Pass practice
          - if is_officer?
            %td= link_to "View Sign Ups", assignments_path(p: practice)
            %td= practice.user.first_name + " " + practice.user.last_name
            %td= link_to "Edit Practice", practices_edit_path(practice)


  
